p,
h1,
h2,
h3,
h4 {
  padding: 0;
  margin: 0;
}
body {
  background-color: #ccc;
  margin: 0;
  font-family: 'Roboto Condensed', sans-serif;
}
.top {
  display: flex;
  margin: 0 auto;
  max-width: 1220px;
  padding: 0 10px;
}
.aside {
  background-color: #fff;
  width: 35%;
  text-align: center;
  padding-top: 50px;
  text-transform: uppercase;
  color: gray;
}
.title {
  margin: 0 auto;
  max-width: 155px;
}
.nav {
}
.nav__items {
  list-style: none;
  padding: 0;
  margin: 0;
}
.nav__item {
  margin-top: 15px;
}
.nav__link {
  text-decoration: none;
  color: gray;
}
.pictures {
  flex: 1;
  display: flex;
  flex-wrap: wrap;
}
.pictures img {
  width: 33%;
}

.pagination {
  padding: 50px 0;
}
.pagenav {
}
.pagenav__list {
  display: flex;
  list-style: none;
  justify-content: center;
  margin: 0;
  padding: 0;
}
.pagenav__item {
}
.pagenav__link {
  text-decoration: none;
  display: block;
  padding: 10px;
  color: #000;
  transition: all 1s;
}
.pagenav__link:hover {
  background-color: #000;
  color: white;
}

.about {
  background-color: grey;
  padding: 30px 0;
  color: #ccc;
  border-bottom: 1px solid #ccc;
}
.container {
  margin: 0 auto;
  max-width: 600px;
}
.about__title {
  text-align: center;
  margin: 0;
}
.about__img {
  margin-top: 50px;
  display: inline-block;
  max-width: 100%;
  width: 100%;
  height: 500px;
}
.about__name {
  margin-top: 30px;
}
.about__text {
  margin-top: 15px;
  text-align: justify;
}
.about__email {
  display: block;
  margin-top: 15px;
}
.about__phone {
  display: block;
  margin-top: 15px;
}

.skills {
  background-color: grey;
  padding: 30px 0;
  border-bottom: 1px solid #ccc;
  color: #ccc;
}

.skills__title {
  text-align: center;
}
.skills__items {
  margin-top: 15px;
}
.skills__item {
  margin-top: 15px;
}
.skills__name {
}
.skills__percentage {
  margin-top: 15px;
  text-align: center;
  background-color: #fff;
  z-index: 1;
  padding: 5px 0;
  position: relative;
}
.skills__percentage-1::before {
  content: '95%';
  color: #000;
  text-align: center;
  display: block;
  padding: 5px 0;
  position: absolute;
  top: 0;
  left: 0;
  width: 95%;
  background-color: #ccc;
  z-index: 5;
}
.skills__percentage-2::before {
  content: '85%';
  color: #000;
  text-align: center;
  display: block;
  padding: 5px 0;
  position: absolute;
  top: 0;
  left: 0;
  width: 85%;
  background-color: #ccc;
  z-index: 5;
}

.skills__percentage-3::before {
  content: '80%';
  color: #000;
  text-align: center;
  display: block;
  padding: 5px 0;
  position: absolute;
  top: 0;
  left: 0;
  width: 80%;
  background-color: #ccc;
  z-index: 5;
}
.skills__button {
  margin-top: 30px;
  padding: 10px 20px;
  border: 0;
  cursor: pointer;
  font-family: 'Roboto Condensed', sans-serif;
  color: #000;
  background-color: #ccc;
  transition: all 1s;
}
.skills__button:hover {
  background-color: #000;
  color: #ccc;
}
